body{
    margin: 0;
    padding-top: 10vh;
}

.flex-container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 150px;
}

.header-text{
    margin-bottom: 10vh;
}

/*------------------ Navbar ------------------------ */

.navbar-logo{
    display: flex;
    align-self: center;
    justify-self: start;
}

.temp-logo{
    width: 70px;
    height: 70px;
    background-color: red;
    margin-right: 20px;
}

.outer-navbar{
    width: 100%;
    background-color: aliceblue;
    height: 10vh;
    position: fixed;
    top: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
}

.navbar-inside{
    background-color: aliceblue;
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.navbar-button{
    text-decoration: none;
    background-color: aliceblue;
    align-self: center;
    padding: 10px 20px;
    
}

.navbar-inside :hover{
    background-color: aqua;

}


/*------------------ Home ------------------------ */


.home-grid{
    display: grid;
    grid-template-columns: 300px 500px;
    grid-template-rows: 100px 100px 100px;
    text-align: left;
    gap: 20px;
    padding: 50px;
}

.home-image{
    width: 500px;
    height: auto;
}

.home-header{
    grid-row-start: 2;
    grid-column-start: 1;
}

.home-grid-image{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row: span 3;
}

.home-unordered-list{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

/*------------------ About ------------------------ */


.about-image{
    width: 300px;
    height: 200px;
}

.about-header{
    width: 55vw;
}

.about-grid{
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(2, 500px);
    align-content: center;
    justify-content: center;
}

.about-grids-inner-flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-paragraph{
    width: 300px;
}

/*------------------ EXP ------------------------ */

.exp-header{
    width: 60vw;
}

.exp-hr{
    margin-top: 0;
}

.exp-text{
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
}

.exp-grid{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows:  45px 150px 45px 150px;
    align-content: center;
    justify-content: center;
}

.exp-skills-text{
    text-align: center;
}

.exp-skills-logo{
    width: 75px;
    height: 75px;
}

.exp-skills-logo-color{
    width: 75px;
    height: 75px;
    background-color: purple;
    align-self: center;
    justify-self: center;
}